<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery.Table")
    @Styles.Render("~/Content/jquery.Tools")
    @Styles.Render("~/Content/Dialog")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryTools")
    @Scripts.Render("~/bundles/jqueryDialog")
    @Scripts.Render("~/bundles/jqueryDateExt")    
    <script type="text/javascript">
        $.ajaxSetup({
            cache: false //close AJAX cache
        });
        </script>        
<script src="~/Scripts/jquery.tools.min.js"></script>
@*<script src="~/Scripts/jquery.tools.dateinput.location.cn.js"></script>*@
</head>
<body>
<div id="header" >
  <div id="title" style=" text-align:center"></div>
</div>
<div id="bodyer">
    @RenderBody()
    </div>
    <footer></footer>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryTable")
</body>
</html>
