@model IEnumerable<SystemDB.Logs >

@{
    ViewBag.Title = "Index";
}

<h2>日志首页</h2>
<div>@Html.ActionLink("新建","Create")</div>
<div>
<table>
<tbody>
<tr>
<th>日志字段1</th>
<th>日志字段2</th>
<th>日志字段3</th>
<th>日志字段4</th>
<th>日志字段5</th>
</tr>
@if (null != Model)
{
    foreach (var m in Model)
    {
    <tr>
    <td>@m.iUserID.ToString()</td>
    <td>@m.cIP</td>
    <td>@m.cLastValue</td>
    <td>@m.cWorkStation</td>
    <td>@m.dLogDate.ToShortDateString()</td>
    </tr> 
    }
}
</tbody>
</table>
</div>
